.App {
  text-align: center;
}

:root {
  --primary: #7B26AD;
  --teal: #269BAD;
  --teal2: #34BDD2;
  --darkBackground: #282c34;
  --greyBackground: #3d4148;
}

::selection {
  background-color: var(--primary);
  color: #fff;
}

::-moz-selection {
  background-color: var(--primary);
  color: #fff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--teal);
  border: 1px solid var(--teal);
}

a {
  color:var(--teal);
}

a:hover {
  color: var(--teal2);
}

.swalBtn {
  margin: .3125em;
}

body {
  background-color: var(--darkBackground);
  min-height: 50vh;
  color: #f9f9f9;
  text-align: center;
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.modal-content {
  color: var(--greyBackground);
}

#home {
  background-color: var(--darkBackground);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-body-sections {
  background-color: var(--greyBackground);
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
}


#skills,
#music, #notFound {
  background-color: var(--darkBackground);
}

#music {
  min-height: 50vh;
}

#footer {
  background-color: var(--greyBackground);
  min-height: 20vh;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #f9f9f9;
}

.intro-section img {
  padding-top: 30px;
  border-radius: 100%;
  width: 75%;
  max-width: 300px;
  padding-bottom: 30px;
}

.spinner {
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  bottom: 0;
  z-index: 9997;
  padding: 15px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  #header {
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
  }
}

@media (max-width: 767px) {
  #header {
    justify-content: space-evenly;
    flex-direction: row;
    right: 0;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footerLogos {
  color: #f2f3f5 !important;
  background: var(--darkBackground);
  padding: 6px 8px;
  margin-right: 8px;
  font-size: 12px;
  border-radius: 5px;
}

.footerLogos:hover {
  background-color: white;
}

.footerLogos:hover>svg {
  color:var(--greyBackground)!important;
}

.footerList li {
  margin-bottom: 5px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navBar * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navBar > ul > li {
  position: relative;
  white-space: nowrap;
  border-color: var(--darkBackground);
  display: inline;
}

.navBar a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navBar a i {
  font-size: 20px;
}

.navBar a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

.navBar a:hover,
.navBar .active > a,
.navBar li:hover > a {
  color: #fff;
  background: var(--primary);
}

.navBar a:hover span,
.navBar .active > a span,
.navBar li:hover > a span {
  color: #fff;
}

.navBar a:hover,
.navBar li:hover > a {
  width: 100%;
  color: #fff;
}

.button-logos {
  color: #45505b;
  padding: 8px 10px 8px 10px;
  border-radius: 10px;
  background: #f2f3f5;
  margin-left: 10px;
  margin-right: 10px;
}

.button-logos:hover {
  color: white;
  background-color: var(--primary);
}

.button-logos:hover>svg {
  color:white!important;
}

.button-shape {
  color: #45505b;
  padding: 10px 20px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 20px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  width: 56px;
}

.btn-clicked {
  background-color: var(--primary);
  color: #fff !important;
}

.mobile-button {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .navBar a {
    margin-bottom: 20px;
  }
  .navBar a span {
    display: none;
    color: #fff;
  }
  .navBar a:hover span,
  .navBar li:hover > a span {
    display: block;
  }
  .mobile-button {
    display: none;
  }
}

@media (max-width: 767px) {
  .navBar a {
    margin-bottom: 5px;
  }
  .navBar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
  }
  .navBar a span {
    display: none;
    color: #fff;
  }
  .hide-nav {
    display: none !important;
  }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.progress {
  height: 0.25rem;
}
.progress-bar {
  background-color: var(--primary);
}

.rating-card {
  padding: 20px;
  margin: 10px;
  background-color: var(--greyBackground);
  border-radius: 15px;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Education
--------------------------------------------------------------*/
.education-card {
  padding: 20px;
  margin-top: 2rem;
  background-color: var(--darkBackground);
  border-radius: 15px;
  text-align: left;
  width: 100%;
}

.university-sub-header {
  margin-bottom: 1rem;
}

.edu-accord-header {
  background-color: var(--greyBackground);
  margin-top: 1rem;
  border-radius: 10px 10px 0 0;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

#education .card-body {
  background-color: var(--greyBackground);
  border-radius: 0 0 10px 10px;
}