#notes {
  background-color: #282c34;
  min-height: 100vh;
  padding-bottom: 30px;
  color: #f9f9f9;
}

.headerContainer {
  padding-bottom: 30px;
}

.homeBtn {
  color: #45505b;
  padding: 16px 20px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 20px;
  background: #f2f3f5;
}

.note {
  margin-top: 20px;
  background-color: #3d4148;
  padding: 30px;
  border-radius: 10px;
}

.footerLogos {
  color: #f2f3f5 !important;
  background: #282c34;
  padding: 6px 8px;
  margin-right: 8px;
  font-size: 12px;
  border-radius: 5px;
}

.footerList li {
  margin-bottom: 5px;
}
